main_exec.exe
/saves/
saves.cc
saves.newage
saves.txt
split.h
thinking.txt
va_list.cpp
plans.org
main.org
model.org
all.h
/tests/
/lib/old_extensions.h
push.txt
tmp.newage
git_push.bat
draft.newage
skeleton.cc